<%- include('partials/header') %>

    <div class="top-area">
        <div class="mod-head-slide">
            <div class="grid_frame">
                <div class="wrap-slide">
                    <p class="ta-c"><img src="/assets/images/ajax-loader.gif" alt="loading"></p>
                    <div id="sys_head_slide" class="head-slide flexslider">
                        <ul class="slides">
                            <li>
                                <img src="/assets/images/ex/01_banner.jpg" alt=""/>
                            </li>
                            <li>
                                <img src="/assets/images/ex/02_banner.jpg" alt=""/>
                            </li>
                            <li>
                                <img src="/assets/images/ex/03_banner.jpg" alt=""/>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sys_mod_filter" class="mod-filter">
        <div class="grid_frame">
            <div class="container_grid clearfix">
                <div class="grid_12">
                    <div class="lbl-search">
                        <input class="txt-search" id="sys_txt_search" type="search" placeholder="Search"/>
                        <input type="submit" class="btn-search" value=""/>
                    </div>
                    <div class="select-cate">
                        <div id="sys_selected_val" class="show-val">
                            <span data-cate-id="0">All type</span>
                            <i class="pick-down"></i>
                        </div>
                        <div id="sys_list_dd_cate" class="dropdown-cate">
                            <div class="first-lbl">All Categories</div>
                            <div class="wrap-list-cate clearfix">
                                <a href="#" data-cate-id="1">Baby &amp; Toddler</a>
                                <a href="#" data-cate-id="2">Automotive </a>
                                <a href="#" data-cate-id="3">Beverages</a>
                                <a href="#" data-cate-id="4">Books &amp; Magazines</a>
                                <a href="#" data-cate-id="5">Foods </a>
                                <a href="#" data-cate-id="6">Health Care</a>
                                <a href="#" data-cate-id="7">Home Entertainment</a>
                                <a href="#" data-cate-id="8">Personal Care </a>
                                <a href="#" data-cate-id="9">Pet Care </a>
                                <a href="#" data-cate-id="10">Professional Services </a>
                                <a href="#" data-cate-id="11">Toys and Games</a>
                                <a href="#" data-cate-id="12">Coupon Codes</a>
                                <a href="#" data-cate-id="13">Recipes</a>
                                <a href="#" data-cate-id="14">Household </a>
                            </div>
                        </div>
                    </div><!--end: .select-cate -->
                    <div class="range-days-left">
                        <span class="lbl-day">Days left</span>
                        <span id="sys_min_day" class="min-day"></span>
                        <div id="sys_filter_days_left" class="filter-days"></div>
                        <span id="sys_max_day" class="max-day"></span>
                    </div><!--end: .range-days-left -->
                    <input id="sys_apply_filter" class="btn btn-red type-1 btn-apply-filter" type="button" value="Apply Filter">
                </div>
            </div>
        </div>
    </div><!--end: .mod-filter -->
    <div class="grid_frame page-content">
        <div class="container_grid">
            <div class="mod-grp-coupon block clearfix">
                <div class="grid_12">
                    <h3 class="title-block has-link">
                        New Items to shop
                        <a href="/shop" class="link-right">See all <i class="pick-right"></i></a>
                    </h3>
                </div>
                <div id="itemsContainer" class="block-content list-coupon clearfix">
                    
                </div>

                <button id="load-more" class="btn btn-blue">Load More</button>
            </div><!--end block: New Coupons-->
            <div class="mod-email-newsletter clearfix">
                <div class="grid_12">
                    <div class="wrap-form clearfix">
                        <div class="left-lbl">
                            <div class="big-lbl">newsletter</div>
                            <div class="sml-lbl">Don't miss a chance to know about the latest items to shop!</div>
                        </div>
                        <div class="wrap-email">
                            <label for="sys_email_newsletter">
                                <input type="email" id="sys_email_newsletter" placeholder="Enter your email here"/>
                            </label>
                        </div>
                        <button class="btn btn-orange btn-submit-email" type="submit">SUBSCRIBE NOW</button>
                    </div>
                </div>
            </div><!--end: .mod-email-newsletter-->
            <!--end: .mod-brand -->
        </div>
    </div>
        
<%- include('partials/footer') %>

<script>
$(document).ready(function () {
  let currentLimit = 10; // Start with 10 items
  const increment = 10; // Number of items to load each time

  // fetch and display items
  function loadItems(limit) {
    $.ajax({
      url: `/api/getItems?limit=${limit}`,
      method: "GET",
      success: function (response) {
        if (response.success) {
          const items = response.items;
          let itemsHTML = "";
          items.forEach((item) => {
            itemsHTML += `
            <div class="coupon-item grid_3">
              <div class="coupon-content">
                <div class="img-thumb-center">
                  <div class="wrap-img-thumb">
                    <span class="ver_hold"></span>
                    <a href="#" class="ver_container">
                      <img src="${item.imageURL}" alt="${item.nameOfItem}" />
                    </a>
                  </div>
                </div>
                <div class="coupon-price">${item.nameOfItem}</div>
                <hr>
                <br>
                <a class="btn btn-blue btn-take-coupon" href="#" data-item-id="${item._id}">Purchase Item</a>
              </div>
              ${item.isHotSale ? '<i class="stick-lbl hot-sale"></i>' : ''}
            </div>
            `;
          });

          // Append items to the .block-content.list-coupon
          $(".block-content.list-coupon").append(itemsHTML);

          // If fewer items returned than requested, hide the load more button
          if (items.length < increment) {
            $("#load-more").hide();
          } else {
            $("#load-more").show();
          }

          // connect click handler to dynamically created buttons
          attachPurchaseHandlers();
        } else {
          $(".block-content.list-coupon").html("<p>No items found.</p>");
        }
      },
      error: function (jqXHR, textStatus, errorThrown) {
        $(".block-content.list-coupon").html("<p>Error fetching items.</p>");
      },
    });
  }
  // end: fetch and display items

  // handle purchase 
  function attachPurchaseHandlers() {
    $('.btn-take-coupon').off('click').on('click', function(event) {
      event.preventDefault(); 

      const itemId = $(this).data('item-id'); // get the item id from data attribute
      const quantity = 1; // say quantity is always 1 for simplicity

      // get the token from localStorage
      const token = localStorage.getItem("token");

      $.ajax({
        url: '/api/purchaseItem', 
        method: 'POST',
        contentType: 'application/json', // very important!
        data: JSON.stringify({
          itemId: itemId,
          quantity: quantity
        }),
        headers: {
          Authorization: `Bearer ${token}` 
        },
        success: function(response) {
          if (response.success) {
            toastr.success("Successfully purchased 1 unit!");
          } else {
            alert('Error: ' + response.error);
          }
        },
        error: function(jqXHR, textStatus, errorThrown) {
          alert('Error: ' + errorThrown);
        }
      });
    });
  }
  // end: handle purchase 

  // Load initial items
  loadItems(currentLimit);

  // Handle Load More button click
  $("#load-more").on('click', function() {
    currentLimit += increment; // Increase the limit
    loadItems(currentLimit); // Load more items
  });
});
</script>