<%- include('../partials/header') %>
<div class="top-area">
  <div class="grid_frame">
    <div class="container_grid clearfix">
      <div class="grid_12">
        <h2 class="page-title">My Transactions</h2>
      </div>
    </div>
  </div>
</div>
<div class="grid_frame page-content">
  <div class="container_grid">
    <div class="layout-2cols pt-hight clearfix">
      <div class="grid_12 content">
        <div class="mod-list-article">
          <div class="list-article">
            <!--end: article-item -->

            <div id="transactionsContainer"></div>
          </div>
        </div>
        <!--end: .mod-list-article -->
      </div>
    </div>
  </div>
</div>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
  integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- get all transactions -->
<script>
  $(document).ready(function () {
  // console.log("Document ready");
  function loadTransactions() {
    const token = localStorage.getItem("token");

    $.ajax({
      url: "/api/buyerPurchases",
      method: "GET",
      headers: {
        Authorization: `Bearer ${token}`, 
      },
      success: function (response) {
        // console.log(response);
        if (response.success) {
          const transactions = response.purchases;
          let transactionsHTML = "";

          transactions.forEach((transaction) => {
            const purchaseDate = new Date(transaction.purchaseDate);
            const day = purchaseDate.getDate();
            const monthYear = purchaseDate.toLocaleDateString("en-GB", {
              month: "short",
              year: "numeric",
            });
            const time = purchaseDate.toLocaleTimeString("en-GB", {
              hour: "2-digit",
              minute: "2-digit",
            });

            transactionsHTML += `
              <div class="article-item">
                <div class="flex">
                  <div class="thumb-left wrap-date-post">
                    <div class="date">
                      <span class="day">${day}</span>
                      <span class="my">${monthYear}</span>
                      <span class="time">${time}</span>
                    </div>
                    <a class="btn-more" href="#">$${transaction.totalPrice.toFixed(
                      2
                    )}</a>
                  </div>
                  <div class="flex-body">
                    <p class="art-title rs"><a href="#">${
                      transaction.itemName
                    }</a></p>
                    <p class="rs art-desc">Purchased ${
                      transaction.quantity
                    } item(s) from ${
                      transaction.itemOwner
                    }. Total cost: $${transaction.totalPrice.toFixed(2)}.</p>
                  </div>
                </div>
              </div>
            `;
          });

          $("#transactionsContainer").html(transactionsHTML);
        } else {
          $("#transactionsContainer").html("<p>No transactions found.</p>");
        }
      },
      error: function (jqXHR, textStatus, errorThrown) {
        $("#transactionsContainer").html("<p>Error fetching transactions.</p>");
      },
    });
  }

  loadTransactions();
});

</script>
<!-- end: get all transactions -->


<%- include('../partials/footer') %>
