<%- include('../partials/admin/header') %>






<div class="admin-wrapper">
    <div class="container">
        <h5 class="mb-3">All My Collections</h5>
        <div class="row g-4" id="collections-container">
            
                


        </div>
    </div>
</div>



<!-- Modal for Mint Token -->
<div class="modal fade" id="transferModal" tabindex="-1" aria-labelledby="transferModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="transferModalLabel">Mint Token</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="transferForm">

                    <div class="mb-3">
                        <label for="collectionId" class="form-label">Collection ID:</label>
                        <input type="text" id="collectionId" class="form-control" readonly name="collectionId" required>
                    </div>

                    <div class="mb-3">
                        <label for="tokenName1" class="form-label">Token Name:</label>
                        <input type="text" id="tokenName1" class="form-control" name="tokenName" required>
                    </div>

                    <div class="mb-3">
                        <label for="priceOfCoupon" class="form-label">Price of Coupon:</label>
                        <input type="text" placeholder="enter price in USD" id="priceOfCoupon" class="form-control" name="priceOfCoupon" required>
                    </div>

                    <div class="mb-3">
                        <label for="tokenDescription1" class="form-label">Token Description:</label>
                        <input type="text" id="tokenDescription1" class="form-control" name="tokenDescription" required>
                    </div>

                        <div class="mb-3">
                            <label for="tokenType" class="form-label">Select Token Type:</label>
                            <div>
                                <input type="radio" id="standardToken" name="tokenType" value="standard" required>
                                <label for="standardToken">Standard Token</label>
                            </div>
                            <div>
                                <input type="radio" id="specialToken" name="tokenType" value="special" required>
                                <label for="specialToken">Special Token</label>
                            </div>
                        </div>

                    <div class="mb-3">
                        <label for="imageUpload" class="form-label">Upload Image:</label>
                        <input type="file" id="imageUpload" class="form-control" accept=".png, .jpg, .jpeg" onchange="validateFile(event)" required>
                        <small class="text-danger" id="fileError" style="display: none;">Please upload a valid image (PNG, JPG, JPEG) and make sure it's less than 5MB.</small>
                    </div>

                    <div class="col-6">
                        <div class="mb-3">
                            <div id="imagePreview" class="border rounded" style="width: 150px; height: 150px; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                                <img id="selectedImage" src="" alt="Image Preview" style="max-width: 100%; max-height: 100%; display: none;">
                            </div>
                        </div>
                    </div>

                    <button id="mintTokenButton" type="submit" class="btn btn-danger w-100">Complete Mint</button>
                    <button id="pleaseWaitButton"  type="submit" class="btn btn-danger w-100" disabled style="display:none;">Please Wait...</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end:modal for mint -->


<!-- Modal for minting item Token -->
<div class="modal fade" id="mintItemModal" tabindex="-1" aria-labelledby="transferModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mintItemModalLabel">Mint Token</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="mintItemForm">

                    <div class="mb-3">
                        <label for="collectionId" class="form-label">Collection ID:</label>
                        <input type="text" id="mint_collectionId" class="form-control" readonly name="mint_collectionId" required>
                    </div>

                    <div class="mb-3">
                        <label for="tokenName1" class="form-label">Token Name:</label>
                        <input type="text" id="mint_tokenName1" class="form-control" name="mint_tokenName" required>
                    </div>

                    <div class="mb-3">
                        <label for="priceOfCoupon" class="form-label">Price of Coupon:</label>
                        <input type="text" placeholder="enter price in USD" id="mint_priceOfCoupon" class="form-control" name="mint_priceOfCoupon" required>
                    </div>

                    <div class="mb-3">
                        <label for="tokenDescription1" class="form-label">Token Description:</label>
                        <input type="text" id="mint_tokenDescription1" class="form-control" name="mint_tokenDescription" required>
                    </div>

                    <div class="mb-3">
                        <label for="imageUpload" class="form-label">Upload Image:</label>
                        <input type="file" id="mint_imageUpload" class="form-control" accept=".png, .jpg, .jpeg" onchange="validateFile(event)" required>
                        <small class="text-danger" id="mint_fileError" style="display: none;">Please upload a valid image (PNG, JPG, JPEG) and make sure it's less than 5MB.</small>
                    </div>

                    <div class="col-6">
                        <div class="mb-3">
                            <div id="mint_imagePreview" class="border rounded" style="width: 150px; height: 150px; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                                <img id="mint_selectedImage" src="" alt="Image Preview" style="max-width: 100%; max-height: 100%; display: none;">
                            </div>
                        </div>
                    </div>

                    <button id="mintItemButton" type="submit" class="btn btn-danger w-100">Complete Item Mint</button>
                    <button id="pleaseWaitButtonMint"  type="submit" class="btn btn-danger w-100" disabled style="display:none;">Please Wait...</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end:modal for minting item -->




<!-- get collections -->
<script>
$(document).ready(function() {
    function fetchUserCollections() {
        const token = localStorage.getItem('token');
        $.ajax({
            url: '/api/getCollections',  
            type: 'GET',
            headers: {
                'Authorization': 'Bearer ' + token
            },
            success: function(response) {
                $('#collections-container').empty();  
                if (response && response.success) {
                    console.log("collections", response);
                    if (response.collections && response.collections.length > 0) {
                        response.collections.forEach(function(collection) {
                            // console.log(collection)
                            let tokensHtml = '';
                            let tokenCount = 0;

                            if (collection.token && collection.token.length > 0) {
                                tokenCount = collection.token.length;
                                collection.token.forEach(function(tokenItem) {
                                    tokensHtml += `<div>Token ID: #${tokenItem.substring(0, 10) + '...'}</div>`;
                                });
                            } else {
                                tokensHtml = '<div>No tokens available for this collection.</div>';
                            }

                            const collectionItem = `
                            <div class="col-12 col-sm-6 col-xl-4 col-xxl-4">
                                <div class="nft-card card border-0">
                                    <div class="card-body">
                                        <!-- Others Info -->
                                        <div class="row gx-2 align-items-center mt-3">
                                            <div class="col-8">
                                                <span class="d-block fz-12"><i class="bi bi-bag me-1"></i>Tokens available</span>
                                            </div>
                                        </div>
                                        <!-- Meta Info -->
                                        <div class="row gx-2 align-items-center mt-2">
                                            <div class="col-12">
                                                <div class="name-info d-flex align-items-center">
                                                    <div class="name-author">
                                                        <a class="name d-block hover-primary fw-bold text-truncate" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="${collection.name}">Collection Name: ${collection.name}</a>
                                                        <a class="name d-block hover-primary fw-bold text-truncate" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="${collection.collectionId}">Collection ID: #${collection.collectionId}</a>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-6">
                                                <a class="btn btn-warning rounded-pill btn-sm mt-3 w-100 btn-mint-token" href="#" 
                                                    data-bs-toggle="modal" 
                                                    data-bs-target="#transferModal" 
                                                    data-token-id="${collection.tokenId}" 
                                                    data-collection-id="${collection.collectionId}">
                                                    Mint New Token
                                                </a>
                                            </div>
                                            
                                            <div class="col-6">
                                                <a class="btn btn-primary rounded-pill btn-sm mt-3 w-100 btn-mint-token" href="#" 
                                                    data-bs-toggle="modal" 
                                                    data-bs-target="#mintItemModal" 
                                                    data-mtoken-id="${collection.tokenId}" 
                                                    data-mcollection-id="${collection.collectionId}">
                                                    Mint New Item
                                                </a>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            `;

                            $('#collections-container').append(collectionItem);

                            // Attach click event handler for mint buttons
                            $('.btn-mint-token').on('click', function(e) {
                                e.preventDefault();
                                // Get token ID and collection ID from data attributes
                                const tokenId = $(this).data('token-id');
                                const collectionId = $(this).data('collection-id');
                                
                                // const mint_tokenId = $(this).data('mtoken-id');
                                const mint_collectionId = $(this).data('mcollection-id');
                                // Pre-populate the modal form fields
                                $('#tokenId').val(tokenId);
                                $('#collectionId').val(collectionId);
                                
                                // console.log(mint_collectionId)
                                $('#mint_tokenId').val(tokenId);
                                $('#mint_collectionId').val(mint_collectionId);
                                // Show the modal for token transfer/minting
                                // $('#transferModal').fadeIn();
                            });
                        });
                    } else {
                        $('#collections-container').append('<p>No collections created for this user.</p>');
                    }
                } else {
                    $('#collections-container').append('<p>Error fetching collections.</p>');
                }
            },
            error: function(xhr) {
                console.error('An error occurred:', xhr.responseText);
                $('#collections-container').append('<p>Failed to fetch collections. Please try again later.</p>');
            }
        });
    }

    // Call the function to fetch collections
    fetchUserCollections();

    // Close the modal when the close button is clicked
    $('.close-button').on('click', function() {
        $('#transferModal').fadeOut();
    });

    // Close the modal when clicking outside of it
    $(window).on('click', function(event) {
        if (event.target === $('#transferModal')[0]) {
            $('#transferModal').fadeOut();
        }
    });
});
</script>
<!-- end: get collections -->





<!-- modal; -->
<script>
$(document).ready(function() {
    $('#transferForm').on('submit', function(e) {
        e.preventDefault(); 
        $('#cover-spin').show(0);

        $('#mintTokenButton').hide();
        $('#pleaseWaitButton').show();

        const fileInput = $("#imageUpload")[0].files[0];

        if (!fileInput) {
            alert("Please select an image file.");
            $('#cover-spin').hide(0);
            return;
        }

        const reader = new FileReader();
        
        reader.readAsDataURL(fileInput);
        
        reader.onload = function () {
            const base64Image = reader.result; 

            // Get the value of the selected radio button
            const tokenType = $('input[name="tokenType"]:checked').val();
            let urlToPost = tokenType === 'standard' ? '/api/mintToken' : '/api/mintSpecialToken';

            const formData = {
                collectionId: $('#collectionId').val(),
                tokenName: $('#tokenName1').val(),
                tokenDescription: $('#tokenDescription1').val(),
                tokenImageUrl: base64Image, 
                priceOfCoupon: $('#priceOfCoupon').val(),
            };

            const token = localStorage.getItem('token');

            $.ajax({
                url: urlToPost, 
                type: 'POST',
                data: JSON.stringify(formData),
                contentType: 'application/json',
                headers: {
                    Authorization: `Bearer ${token}`,
                },
                success: function(response) {
                    $('#cover-spin').hide(0);
                    
                    if (response.success) {
                        Swal.fire({
                            position: "center",
                            icon: "success",
                            title: response.message,
                            showConfirmButton: false,
                            timer: 1500,
                        });
                        $('#transferModal').modal('hide');  
                    } else {
                        Swal.fire({
                            position: "center",
                            icon: "error",
                            title: "An error occurred!",
                            showConfirmButton: false,
                            timer: 1500,
                        });
                        console.error('Failed to mint token:', response.message);
                    }

                    setTimeout(function() {
                        $('#mintTokenButton').show();  
                        $('#pleaseWaitButton').hide(); 
                        location.reload();
                    }, 1500);
                },
                error: function(xhr) {
                    $('#cover-spin').hide(0);
                    alert('An error occurred: ' + xhr.responseText);

                    $('#mintTokenButton').show();
                    $('#pleaseWaitButton').hide();
                }
            });
        };

        reader.onerror = function() {
            alert("There was an error reading the file.");
            $('#cover-spin').hide(0);
            $('#mintTokenButton').show();
            $('#pleaseWaitButton').hide();
        };
    });
});
</script>

<!-- item submit -->
<script>
$(document).ready(function() {
    $('#mintItemForm').on('submit', function(e) {
        e.preventDefault(); 
        $('#cover-spin').show(0);

        $('#mintItemButton').hide();
        $('#pleaseWaitButtonMint').show();

        const fileInput = $("#mint_imageUpload")[0].files[0];

        if (!fileInput) {
            alert("Please select an image file.");
            $('#cover-spin').hide(0);
            $('#mintItemButton').show();
            $('#pleaseWaitButtonMint').hide();
            return;
        }

        const reader = new FileReader();
        
        reader.readAsDataURL(fileInput);
        
        reader.onload = function () {
            const base64Image = reader.result; 

            const formData = {
                collectionId: $('#mint_collectionId').val(),
                tokenName: $('#mint_tokenName1').val(),
                tokenDescription: $('#mint_tokenDescription1').val(),
                tokenImageUrl: base64Image, 
                priceOfCoupon: $('#mint_priceOfCoupon').val(),
                isItem: true
            };

            const token = localStorage.getItem('token');

            $.ajax({
                url: '/api/mintToken', 
                type: 'POST',
                data: JSON.stringify(formData),
                contentType: 'application/json',
                headers: {
                    Authorization: `Bearer ${token}`,
                },
                success: function(response) {
                    $('#cover-spin').hide(0);
                    
                    if (response.success) {
                        Swal.fire({
                            position: "center",
                            icon: "success",
                            title: response.message,
                            showConfirmButton: false,
                            timer: 1500,
                        });
                        $('#mintItemModal').modal('hide');  
                    } else {
                        Swal.fire({
                            position: "center",
                            icon: "error",
                            title: "An error occurred!",
                            showConfirmButton: false,
                            timer: 1500,
                        });
                        console.error('Failed to mint token:', response.message);
                    }

                    setTimeout(function() {
                        $('#mintItemButton').show();  
                        $('#pleaseWaitButtonMint').hide(); 
                        location.reload();
                    }, 1500);
                },
                error: function(xhr) {
                    $('#cover-spin').hide(0);
                    alert('An error occurred: ' + xhr.responseText);

                    $('#mintItemButton').show();
                    $('#pleaseWaitButtonMint').hide();
                }
            });
        };

        reader.onerror = function() {
            alert("There was an error reading the file.");
            $('#cover-spin').hide(0);
            $('#mintItemButton').show();
            $('#pleaseWaitButtonMint').hide();
        };
    });
});
</script>


<!-- preview image on upload -->
<script>
    function validateFile(event) {
        const file = event.target.files[0];
        const fileError = document.getElementById('fileError');

        // Allowed file size (2MB in bytes)
        const maxSize = 2 * 1024 * 1024 * 1024 * 1024 * 1024;

        // Validate file type
        const validFileTypes = ['image/png', 'image/jpg', 'image/jpeg'];
        const fileTypeValid = validFileTypes.includes(file.type);

        // Validate file size
        const fileSizeValid = file.size <= maxSize;

        if (!fileTypeValid || !fileSizeValid) {
            fileError.style.display = 'block';
            event.target.value = ''; // Clear the input
        } else {
            fileError.style.display = 'none'; // Hide error message
            previewImage(event); // Call the preview image function if validation passes
            previewImage2(event); // Call the preview image function if validation passes
        }
    }


    function previewImage(event) {
        const imagePreview = document.getElementById('selectedImage');
        const file = event.target.files[0];

        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                imagePreview.src = e.target.result;
                imagePreview.style.display = 'block'; // Show the image
            };
            reader.readAsDataURL(file);
        } else {
            imagePreview.src = '';
            imagePreview.style.display = 'none'; // Hide the image
        }
    }
    
    function previewImage2(event) {
        const imagePreview = document.getElementById('mint_selectedImage');
        const file = event.target.files[0];

        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                imagePreview.src = e.target.result;
                imagePreview.style.display = 'block'; // Show the image
            };
            reader.readAsDataURL(file);
        } else {
            imagePreview.src = '';
            imagePreview.style.display = 'none'; // Hide the image
        }
    }
</script>
<!-- end: preview image on upload -->




<%- include('../partials/admin/footer') %>








