<%- include('../../partials/admin/header') %>






<div class="admin-wrapper">
    <div class="container">


        <h3 class="mb-3">All My Coupons</h3>
        <div class="row g-4" id="collections-container">
        <!-- <div class="row g-4"> -->
            
                


        </div>
    </div>
</div>



<!-- modal for swap Token -->
<div class="modal fade" id="transferModal" tabindex="-1" aria-labelledby="transferModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="transferModalLabel">Swap Token with another UNQ wallet beneficiary.</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="transferForm">

                    <div class="mb-3">
                        <label for="collectionId" class="form-label">Collection ID:</label>
                        <input type="text" id="collectionId" class="form-control" readonly name="collectionId" required>
                    </div>

                    <div class="mb-3">
                        <label for="tokenId" class="form-label">Token ID:</label>
                        <input type="text" id="tokenId" class="form-control" readonly name="tokenId" required>
                    </div>

                    <hr>
                    <h4 class="text-dark">Recipient Details</h4>
                    <div class="mb-3">
                        <label for="desiredTokenId" class="form-label">Destination Token ID :</label>
                        <input type="text" id="desiredTokenId" class="form-control" name="desiredTokenId" required>
                    </div>

                    <div class="mb-3">
                        <label for="desiredCollectionId" class="form-label">Destination Collection ID :</label>
                        <input type="text" id="desiredCollectionId" class="form-control" name="desiredCollectionId" required>
                    </div>
                    
                    <div class="mb-3">
                        <label for="recipientAddress" class="form-label">Destination Wallet Address:</label>
                        <input type="text" id="recipientAddress" class="form-control" name="recipientAddress" required>
                    </div>

                    <button id="submitTransferButton" type="submit" onclick="return confirm('Are you sure you want to proceed with this swap initiation?')" class="btn btn-danger w-100">Initiate Swap</button>
                    <button id="pleaseWaitButton"  type="submit" class="btn btn-danger w-100" disabled style="display:none;">Please Wait...</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end:modal for transfer -->


<!-- modal for accept Token -->
<div class="modal fade" id="acceptCouponModal" tabindex="-1" aria-labelledby="acceptCouponModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="acceptCouponModalLabel">Swap Token with another UNQ wallet beneficiary.</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="completeSwapForm">


                    <div class="mb-3">
                        <label for="swapOfferId" class="form-label">Coupon Swap Offer ID:</label>
                        <input type="text" id="swapOfferId" class="form-control" name="swapOfferId" required>
                    </div>

                    
                   

                    <button id="submitAcceptButton" type="submit" onclick="return confirm('Are you sure you want to proceed with this swap?')" class="btn btn-danger w-100">Complete Swap</button>
                    <button id="kindlyWaitButton"  type="submit" class="btn btn-danger w-100" disabled style="display:none;">Please Wait...</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end:modal for transfer -->




<!-- get collections -->
<script>
$(document).ready(function() {
    function fetchUserCollections() {
        const token = localStorage.getItem('token');
        $.ajax({
            url: '/api/getUserToken',  
            type: 'GET',
            headers: {
                'Authorization': 'Bearer ' + token
            },
            success: function(response) {
                $('#collections-container').empty();  
                if (response && response.success) {
                    console.log('Response:', response);
                    console.log('Collections:', response.tokens);
                    if (response.tokens && response.tokens.length > 0) {
                        response.tokens.forEach(function(token) {
                            let tokensHtml = '';
                            let tokenCount = 0;

                            // if (collection.token && collection.token.length > 0) {
                            //     tokenCount = collection.token.length;
                            //     collection.token.forEach(function(tokenItem) {
                            //         tokensHtml += `<div>Token ID: #${tokenItem.substring(0, 10) + '...'}</div>`;
                            //     });
                            // } else {
                            //     tokensHtml = '<div>No tokens available for this collection.</div>';
                            // }

                            const collectionItem = `
                            <div class="col-12 col-sm-6 col-xl-4 col-xxl-4">
                    <!-- Featured Card -->
                    <div class="nft-card card border-0">
                        <div class="card-body">
                            <div class="img-wrap">
                                <img style="height: 200px; width: auto; object-fit: cover;" src="${token.tokenImageUrl}" alt="${token.tokenName}">                                
                                <div class="badge bg-dark position-absolute text-center">
                                    <img src="/assets/img/core-img/fire.png" alt="">
                                    ${!token.isPurchased ? 'In Marketplace' : 'Redeemable'}
                                </div>
                            </div>
                            <!-- Others Info -->
                            <div class="row gx-2 align-items-center mt-3">
                                <div class="col-12">
                                    <span class="d-block fz-12"><i class="bi bi-bag me-1"></i>Available</span>
                                </div>
                            </div>
                            <div class="row gx-2 align-items-center mt-2">
                                <div class="col-7">
                                    <div class="name-info d-flex align-items-center">
                                        <div class="author-img position-relative">
                                            <img class="shadow" src="/assets/img/bg-img/u2.jpg" alt="">
                                            <i class="bi bi-check position-absolute bg-success"></i>
                                        </div>
                                        <div class="name-author">
                                            <a class="name d-block hover-primary fw-bold text-truncate" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Fancy Car">
                                                ${token.tokenName}
                                            </a>
                                            <a class="author d-block fz-12 hover-primary text-truncate" href="author.html">
                                                #${token.tokenId}-${token.collectionId}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="price text-end"><span class="fz-12 d-block">Current Price</span>
                                    <h6 class="mb-0">UNQ ${new Intl.NumberFormat('en-US', { 
                                        minimumFractionDigits: 2, 
                                        maximumFractionDigits: 2 
                                    }).format(token.priceOfCoupon)}</h6>                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <a class="btn btn-primary rounded-pill btn-sm mt-3 w-100" href="/initiate-coupon-swap?tid=${token.tokenId}&cid=${token.collectionId}">
                                            Swap                          
                                        </a>
                                    </div>
                                    <div class="col-6">
                                        <a class="btn btn-danger rounded-pill btn-sm mt-3 w-100 redeem-coupon" href="#"  
                                            data-token-id="${token.tokenId}" 
                                            data-collection-id="${token.collectionId}"
                                            >
                                            Redeem                                    
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            `;

                            $('#collections-container').append(collectionItem);

                            // Attach click event handler for mint buttons
                            $('.btn-mint-token').on('click', function(e) {
                                e.preventDefault();
                                // Get token ID and collection ID from data attributes
                                const tokenId = $(this).data('token-id');
                                const collectionId = $(this).data('collection-id');
                                // Pre-populate the modal form fields
                                $('#tokenId').val(tokenId);
                                $('#collectionId').val(collectionId);
                                // Show the modal for token transfer/minting
                                $('#transferModal').fadeIn();
                            });
                        });
                    } else {
                        $('#collections-container').append('<p>No collections created for this user.</p>');
                    }
                } else {
                    $('#collections-container').append('<p>Error fetching collections.</p>');
                }
            },
            error: function(xhr) {
                console.error('An error occurred:', xhr.responseText);
                $('#collections-container').append('<p>Failed to fetch collections. Please try again later.</p>');
            }
        });
    }

    // Call the function to fetch collections
    fetchUserCollections();

    // Close the modal when the close button is clicked
    $('.close-button').on('click', function() {
        $('#transferModal').fadeOut();
    });

    // Close the modal when clicking outside of it
    $(window).on('click', function(event) {
        if (event.target === $('#transferModal')[0]) {
            $('#transferModal').fadeOut();
        }
    });
});
</script>
<!-- end: get collections -->





<!-- modal; -->
<script>
$(document).ready(function() {
    $('#transferForm').on('submit', function(e) {
        e.preventDefault(); 
        $('#cover-spin').show(0);

        // Hide the "Mint New Token" button and show the "Please wait" button
        $('#submitTransferButton').hide();
        $('#pleaseWaitButton').show();

        const formData = {
            ownTokenId: $('#tokenId').val(),
            ownCollectionId: $('#collectionId').val(),
            desiredTokenId: $('#desiredTokenId').val(),
            desiredCollectionId: $('#desiredCollectionId').val(),
            recipientAddress: $('#recipientAddress').val(),
        };

        const token = localStorage.getItem('token');

        $.ajax({
            url: '/api/initiateCouponSwap', 
            type: 'POST',
            data: JSON.stringify(formData),
            contentType: 'application/json',
            headers: {
                Authorization: `Bearer ${token}`,
            },
            success: function(response) {
                $('#cover-spin').hide(0);
                
                if (response.success) {
                    Swal.fire({
                        position: "center",
                        icon: "success",
                        title: response.message || "Swap Initiated Successfully!",
                        showConfirmButton: false,
                        timer: 1500,
                    });
                    $('#transferModal').modal('hide');  // Close the modal
                } else {
                    Swal.fire({
                        position: "center",
                        icon: "error",
                        title: "An error occurred!",
                        showConfirmButton: false,
                        timer: 1500,
                    });
                    console.error('Failed to initiate swap:', response.message);
                }

                // After success or failure, restore the original buttons and reload the page after a delay
                setTimeout(function() {
                    $('#submitTransferButton').show();  // Show the transfer button again
                    $('#pleaseWaitButton').hide(); // Hide the "Please wait" button
                    location.reload();
                }, 1500);
            },
            error: function(xhr) {
                $('#cover-spin').hide(0);
                alert('An error occurred: ' + xhr.responseText);

                // In case of error, show the "transfer New Token" button and hide the "Please wait" button
                $('#submitTransferButton').show();
                $('#pleaseWaitButton').hide();
            }
        });
    });
});
</script>

<!-- redeem coupon -->
 <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->

<script>
    $(document).on('click', '.redeem-coupon', function(e) {
        e.preventDefault();

        const tokenId = $(this).data('token-id');
        const collectionId = $(this).data('collection-id');
        const $button = $(this);  // Store reference to the clicked button
        var token = localStorage.getItem("token");

        Swal.fire({
            title: 'Are you sure?',
            text: "You are about to redeem this token.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, redeem it!',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.isConfirmed) {

                // Change the button text to "Please wait..." and disable it
                $button.html('Please wait...').attr('disabled', true);
                $.ajax({
                    url: '/api/burnToken',
                    type: 'DELETE',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        tokenId: tokenId,
                        collectionId: collectionId
                    }),
                    headers: {
                        Authorization: `Bearer ${token}`,
                    },
                    success: function (response) {
                        if (response.success) {
                            Swal.fire(
                                'Redeemed!',
                                response.message,
                                'success'
                            );
                            // Optionally, refresh the page or update the UI
                            setTimeout(function () {
                                location.reload();
                            }, 2000); 
                        } else {
                            Swal.fire(
                                'Error!',
                                response.message,
                                'error'
                            );
                            // Restore the button in case of failure
                            $button.html('Redeem Coupon <i class="me-1 bi bi-gift-fill"></i>').attr('disabled', false);
                        }
                    },
                    error: function (xhr, status, error) {
                        Swal.fire(
                            'Error!',
                            'Failed to redeem the token. Please try again.',
                            'error'
                        );
                        // Restore the button in case of error
                        $button.html('Redeem Coupon <i class="me-1 bi bi-gift-fill"></i>').attr('disabled', false);
                    }
                });
            }
        });
    });
</script>

<script>
$(document).ready(function() {
    $('#completeSwapForm').on('submit', function(e) {
        e.preventDefault();

        const swapOfferId = $('#swapOfferId').val();
        
        if (!swapOfferId) {
            Swal.fire('Error!', 'Swap Offer ID is required.', 'error');
            return;
        }

        // Show confirmation using SweetAlert
        Swal.fire({
            title: 'Are you sure?',
            text: 'Are you sure you want to proceed with this swap?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, proceed!',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.isConfirmed) {
                $('#submitAcceptButton').hide();      // Hide the complete swap button
                $('#kindlyWaitButton').show();        // Show the wait button

                // Perform the AJAX request to complete the swap
                $.ajax({
                    url: '/api/acceptCouponSwap',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ swapOfferId: swapOfferId }),
                    headers: {
                        Authorization: `Bearer ${localStorage.getItem("token")}`
                    },
                    success: function(response) {
                        if (response.success) {
                            Swal.fire('Success!', response.message, 'success');

                            // Optionally reload or update the UI
                            setTimeout(function() {
                                location.reload();
                            }, 2000); // Wait 2 seconds before reloading
                        } else {
                            Swal.fire('Error!', response.message, 'error');
                        }

                        // Re-enable the buttons
                        $('#kindlyWaitButton').hide();
                        $('#submitAcceptButton').show();
                    },
                    error: function(xhr, status, error) {
                        Swal.fire('Error!', 'An error occurred while processing the swap. Please try again.', 'error');
                        
                        // Re-enable the buttons
                        $('#kindlyWaitButton').hide();
                        $('#submitAcceptButton').show();
                    }
                });
            }
        });
    });
});
</script>


<%- include('../../partials/admin/footer') %>








