<%- include('../partials/home/header') %>

<!-- Breadcrumb -->
<div class="breadcrumb-wrapper">
  <div class="container">
    <div class="breadcrumb-content">
      <h2 class="breadcrumb-title">Know More</h2>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-center">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            Help Center
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="divider"></div>
<div class="help-center-wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-9 col-lg-6">
        <div class="help-form text-center">
          <h2 class="display-6 fw-bold mb-4">Got A Question?</h2>
          <!-- Form -->
          <form action="#">
            <input
              class="form-control"
              type="search"
              disabled
              placeholder="coming soon..."
            />
            <button type="submit"><i class="bi bi-search"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="container">
    <div class="row g-5">
      <div class="col-12 col-lg-8">
        <h4 class="mb-4">Resources</h4>

        <div class="card shadow-sm mt-3">
          <div class="card-body px-4">
            <a
              class="d-block fz-18 hover-primary"
              target="_blank"
              href="https://youtu.be/XlkpnsR-V4Y?si=jLw18hAlgESYXLk5"
              >How do I create an account?</a
            >
          </div>
        </div>

        <div class="card shadow-sm mt-3">
          <div class="card-body px-4">
            <a
              class="d-block fz-18 hover-primary"
              target="_blank"
              href="https://youtu.be/ltGha2hegQI?si=SzcFQ70ctgZVRI6b"
              >How do I play the KooponCraft Game?</a
            >
          </div>
        </div>
      </div>
      
      <!-- <div class="col-12 col-lg-4">
        <div class="card bg-gray border-0 mt-2">
          <div class="card-body p-4">
            <h4 class="mb-3">Popular Questions</h4>
            <div class="border-top mb-3"></div>
            <a
              class="d-block fz-16 hover-primary mt-3"
              href="question-details.html"
              >How do I create an account?</a
            ><a
              class="d-block fz-16 hover-primary mt-3"
              href="question-details.html"
              >How do I sell an NFT?</a
            ><a
              class="d-block fz-16 hover-primary mt-3"
              href="question-details.html"
              >How do I create an NFT?</a
            ><a
              class="d-block fz-16 hover-primary mt-3"
              href="question-details.html"
              >Where can I find NFT sales?</a
            ><a
              class="d-block fz-16 hover-primary mt-3"
              href="question-details.html"
              >How can I stay safe and protect my NFTs?</a
            >
          </div>
        </div>
      </div> -->

    </div>
  </div>
</div>
<div class="divider"></div>

<%- include('../partials/home/footer') %>
