<%- include('../partials/header') %>

    
<div class="grid_frame page-content">
  <div class="container_grid">
    <div class="mod-register">
      <h3 class="rs title-mod">Create an Item</h3>
      <div class="wrap-form-reg clearfix">
        <form id="createItemForm">
         <div class="left-form">
            <label class="wrap-txt" for="nameOfItem">
            <input
                class="input-txt"
                id="nameOfItem"
                name="nameOfItem"
                type="text"
                placeholder="Item Name"
                required
            />
            </label>
            <label class="wrap-txt" for="priceOfItem">
            <input
                class="input-txt"
                id="priceOfItem"
                name="priceOfItem"
                type="number"
                placeholder="Item Price"
                required
            />
            </label>
            <div class="wrap-login-btn">
            <button class="btn-flat gr btn-submit-reg" type="submit">
                Create
            </button>
            </div>
        </div>
          <!-- <div class="right-create-acc">
            <div class="grid_frame page-content">
            <div class="container_grid">
                <div class="mod-brand-detail-2 clearfix">
                    <div class="grid_12">
                        <div class="brand-top-info clearfix">
                            <div class="right-counter">
                                <div class="wrap-content">
                                    <div class="count-info clearfix">
                                        <span class="lbl" style="color: red;">ALL ITEMS</span>
                                        <span class="val"></span>
                                    </div>
                                    <div id="itemsContainer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          </div> -->
        </form>
        <!-- <i class="line-sep"></i> -->
      </div>
    </div>
    <!--end: .mod-register -->
  </div>
</div>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
  integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- create item -->
<script>
  $(document).ready(function () {
    $("#createItemForm").on("submit", function (event) {
      event.preventDefault(); 

      // prep form data
      const nameOfItem = $("#nameOfItem").val();
      const priceOfItem = $("#priceOfItem").val();

      // console.log(nameOfItem, priceOfItem);

      // get the token from localStorage
      const token = localStorage.getItem("token");

      $.ajax({
        url: "/api/createItem",
        method: "POST",
        contentType: "application/json", // very important!
        data: JSON.stringify({ nameOfItem, priceOfItem }),
        headers: {
          Authorization: `Bearer ${token}`,
        },
        success: function (response) {
          if (response.success) {
            Swal.fire({
              position: "center",
              icon: "success",
              title: "Item Created Successfully",
              showConfirmButton: false,
              timer: 1500,
            }); // reset the form or redirect the user
            $("#createItemForm")[0].reset();
            // location.reload();
          } else {
            Swal.fire({
              position: "center",
              icon: "error",
              title: "Oops...",
              text: response.error,
              showConfirmButton: false,
              timer: 1500,
            });
          }
        },
        error: function (jqXHR, textStatus, errorThrown) {
          alert("Error: " + errorThrown);
        },
      });
    });
  });
</script>
<!-- end create item -->

<!-- all items -->
<script>
$(document).ready(function() {
  $.ajax({
    url: '/api/getItems',
    method: 'GET',
    success: function(response) {
      if (response.success) {
        const items = response.items;
        let itemsHTML = '';

        items.forEach(item => {
            
          itemsHTML += `
            <div class="count-info clearfix">
                <span class="lbl">${item.nameOfItem}</span>
                <span class="val">$${item.priceOfItem}</span>
            </div>
          `;
        });

        // appecnd items to the #itemsContainer inside the count-info div
        $('#itemsContainer').html(itemsHTML);
      } else {
        $('#itemsContainer').html('<p>No items found.</p>');
      }
    },
    error: function(jqXHR, textStatus, errorThrown) {
      $('#itemsContainer').html('<p>Error fetching items.</p>');
    }
  });
});
</script>
<!-- end all items -->

<%- include('../partials/footer') %>
