<!-- Footer -->
    <footer class="footer-area pb-120 pt-120" style="background-image: url('img/bg-img/1.jpg')"><img class="footer-bg-shape" src="/assets/img/core-img/shape1.png" alt="" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
      <div class="container">
        <div class="row">
          <!-- Footer Widget -->
          <div class="col-12 col-lg-5">
            <div class="footer-widget-area mb-70 pe-lg-4 pe-xl-5 me-lg-4 me-xl-5 border-end">
              <a class="d-block mb-4" href="/">
                <img class="light-logo" src="/assets/img/kooponcraft-logo3.png" alt="">
                <img class="dark-logo" src="/assets/img/kooponcraft-logo3.png" alt="">
              </a>
              <p>We believe in providing an experience, not just a product. The possibilities are endless.</p>
              <p class="mb-0">
                Call: <a href="tel:+234-8039589717">+234-8039589717</a>
                <br> 
                Email: <a href="mailto: adodass@gmail.com"> adodass@gmail.com</a></p>
              <!-- Social Icon -->
              <h5 class="mt-4 mb-3">Join the community</h5>
              <div class="footer-social-icon d-flex align-items-center flex-wrap"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Facbook"><img src="/assets/img/core-img/icons8-facebook.svg" alt=""></a><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter"><img src="/assets/img/core-img/icons8-twitter.svg" alt=""></a><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram"><img src="/assets/img/core-img/icons8-instagram.svg" alt=""></a><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Slack"><img src="/assets/img/core-img/icons8-slack.svg" alt=""></a><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Youtube"><img src="/assets/img/core-img/icons8-player.svg" alt=""></a></div>
              <!-- Newsletter Form -->
              <div class="newsletter-form mt-5 me-5">
                <form class="d-flex align-items-stretch" action="#">
                  <input class="form-control" type="email" placeholder="Enter email">
                  <button class="btn btn-warning px-3" type="submit">Subscribe</button>
                </form>
              </div>
            </div>
          </div>
          <!-- Footer Widget -->
          <div class="col-12 col-lg-7">
            <div class="row g-4">
              <div class="col-6 col-sm-4">
                <div class="footer-widget-area mb-70">
                  <h5 class="mb-4">Explore</h5>
                  <ul class="list-unstyled mb-0">
                    <li><a href="/shop">Shop/Marketplace</a></li>
                    <li><a href="#">Help Center</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="copywrite-wrapper d-lg-flex align-items-lg-center justify-content-lg-between">
          <!-- Copywrite Text -->
          <div class="copywrite-text text-center text-lg-start mb-3 mb-lg-0">
            <p class="mb-0">2024 &copy; All rights reserved by <a href="#" target="_blank" rel="noreferrer">ADODASS Community</a></p>
          </div>
          <!-- Footer Nav -->
          <div class="footer-nav">
            <ul class="mb-0 d-flex flex-wrap justify-content-center list-unstyled">
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms &amp; Conditions</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- Scroll To Top -->
    <div id="scrollTopButton"><i class="bi bi-arrow-up-short"></i></div>
    <!-- All JavaScript Files-->
    <script src="/assets/js/all-js-libraries.js"></script>
    <script src="/assets/js/active.js"></script>
    <script src="/assets/js/charts.js"></script>
    <script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
  integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    toastr.options = {
        "positionClass": "toast-top-right",
        "timeOut": "5000", 
        "extendedTimeOut": "1000", 
    };
</script>

  </body>
</html>