<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="KooponCraft - NFT Marketplace">
<!-- Title-->
<title>KooponCraft - NFT Marketplace</title>
<!-- Favicon-->
<link rel="shortcut icon" href="/assets/img/kooponcraft-logo3.png" type="image/x-icon">
<!-- All CSS Stylesheet-->
<link rel="stylesheet" href="/assets/css/all-css-libraries.css">
<!-- Core Stylesheet-->
<link rel="stylesheet" href="/assets/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
  integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<style>
      /* spinner */
       #cover-spin {
           position:fixed;
           width:100%;
           left:0;right:0;top:0;bottom:0;
           background-color: rgba(255,255,255,0.7);
           z-index:9999;
           display:none;
       }
       @-webkit-keyframes spin {
         from {
           -webkit-transform: rotate(0deg);
         }
   
         to {
           -webkit-transform: rotate(360deg);
         }
       }
   
       @keyframes spin {
         from {
           transform: rotate(0deg);
         }
   
         to {
           transform: rotate(360deg);
         }
       }
   
       #cover-spin::after {
         content: '';
         display: block;
         position: absolute;
         left: 48%;
         top: 40%;
         width: 40px;
         height: 40px;
         border-style: solid;
         border-color: black;
         border-top-color: transparent;
         border-width: 4px;
         border-radius: 50%;
         -webkit-animation: spin .8s linear infinite;
         animation: spin .8s linear infinite;
       }
</style>

</head>
<body>
<!-- Preloader-->
<div class="preloader" id="preloader">
    <div class="spinner-border text-primary" role="status"><span class="visually-hidden">Loading...</span></div>
</div>
<!-- Header Area-->
<header class="header-area">   
    <nav class="navbar navbar-expand-lg">
    <div class="container">
        <!-- Navbar Brand -->
        <a class="navbar-brand" href="/">
          <img height="500px" class="light-logo" src="/assets/img/kooponcraft-logo3.png" alt="KooponCraft-logo">
          <img height="500px" class="dark-logo" src="/assets/img/kooponcraft-logo3.png" alt="KooponCraft-logo">
        </a>
        <!-- Navbar Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#funtoNav" aria-controls="funtoNav" aria-expanded="false" aria-label="Toggle navigation"><i class="bi bi-grid"></i></button>
        <!-- Navbar -->
        <div class="collapse navbar-collapse" id="funtoNav">
        <ul class="navbar-nav navbar-nav-scroll my-2 my-lg-0">
            <li><a href="/">Home</a></li>
            
            <li><a href="/shop/items">Our Shops</a></li>
            
            <li><a href="/shop/nft-marketplace">Explore NFT Marketplace</a></li>

            <li class="ft-dd"><a href="#">NFT Stores</a>
              <ul class="ft-dd-menu" id="stores-links">
                <li><a href="#">Store 1</a></li>
              </ul>
            </li>

            <li><a href="/help-center">Help Center</a></li>
        </ul>
        <!-- Header Meta -->
        <div class="header-meta d-flex align-items-center ms-lg-auto">
            <!-- Search Form -->
            <!-- <div class="search-form position-relative d-flex align-items-center">
                <input class="form-control" type="text" placeholder="Search">
                <button class="position-absolute" type="submit"><i class="bi bi-search"></i></button>
            </div> -->
            <!-- User Dropdown -->
            <div class="user-dropdown dropdown mx-3">
            <button  class="btn dropdown-toggle user-btn" id="dropdownMenuButton1" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots"></i></button>
            <ul class="dropdown-menu mt-3" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="/dashboard"><i class="me-2 bi bi-speedometer2"></i>Dashboard</a></li>
                <li><a class="dropdown-item" id="logout" href="#"><i class="me-2 bi bi-power"></i>Logout</a></li>
                <!-- <li><a class="dropdown-item" href="settings.html"><i class="me-2 bi bi-gear"></i>Settings</a></li> -->
            </ul>
        </div>
        <a class="px-4" id="cart" href="/transactions"><i class="me-2 bi bi-cart"></i></a>
            <!-- Login New Button -->
             <a id="sys_head_login" class="btn btn-warning btn-sm rounded-pill" href="/login">Login</a>
        </div>
        </div>
    </div>
    </nav>
</header>

<div id="cover-spin"></div>

<!-- handle dynamic login text -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var token = localStorage.getItem("token");

    var loginButton = document.getElementById("sys_head_login");

    if (token) {
      // Change the login button text to "Go to Dashboard" and update the link
      if (loginButton) {
        loginButton.textContent = "Go to Dashboard";
        loginButton.href = "/dashboard"; 
      }

      $('#cart').show();
      $('#dropdownMenuButton1').show();

    } else {
      // If no token exists, ensure login button is visible and points to login page
      if (loginButton) {
        loginButton.textContent = "Log In";
        loginButton.href = "/login"; 
      }

        $('#cart').hide();
        $('#dropdownMenuButton1').hide();
    }
  });
</script>
<!-- end: handle dynamic login text -->



<!-- logout event handler -->
<script>
    $(document).ready(function () {
    $("#logout").on("click", function (e) {
        e.preventDefault();
        // clear the token from localStorage
        // localStorage.removeItem("token");
        localStorage.clear();
        toastr.info("Logout successful");

        window.location.href = "/";
    });
    });
</script>

<script>
    $(document).ready(function () {
        showSuccessToast();
    });
    // Function to show success toast
function showSuccessToast(message) {
    // Set the toast message
    const toastElement = document.getElementById('successToast');
    toastElement.querySelector('.toast-body').textContent = message;

    // Update the toast position (Top center in this case)
    const toastPlacement = document.getElementById('toastPlacement');
    toastPlacement.className = `toast-container position-absolute p-3 top-0 start-50 translate-middle-x`;

    // Show the toast
    const toast = new bootstrap.Toast(toastElement);
    toast.show();
}
</script>
<!-- end logout -->


<!-- fetch stores -->
<script>
  $(document).ready(function(){
    const token = localStorage.getItem("token");

    $.ajax({
      url: "/api/getStores", 
      method: "GET",
      headers: {
        Authorization: `Bearer ${token}`, 
      },
      success: function (response) {
        if (response.success) {
          if (response.stores && response.stores.length > 0) {
            const stores = response.stores;
            let storesHTML = "";

            stores.forEach((store) => {
              storesHTML += `
                <li><a href="/store/${store.accountAddress}">${store.username}</a></li>
              `;
            });

            $("#stores-links").html(storesHTML);  
          } else {
            $("#stores-links").html(`<li><a href="#">No Stores available</a></li>`);
          }
        } else {
          $("li.ft-dd").hide();
        }
      }, 
      error: function (jqXHR, textStatus, errorThrown) {
        $("li.ft-dd").hide();
        $("#stores-links").html("<li><p>Error fetching stores.</p></li>");
      }
    });
  });
</script>