<!DOCTYPE html>
<html>

<head>
    <title>KooponCraft</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/assets/css/font.css"/>
    <link rel="stylesheet" href="/assets/css/font-awesome.css"/>
    <link rel="stylesheet" href="/assets/css/normalize.css"/>
    <!--css plugin-->
    <link rel="stylesheet" href="/assets/css/flexslider.css"/>
    <link rel="stylesheet" href="/assets/css/jquery.nouislider.css"/>
    <link rel="stylesheet" href="/assets/css/jquery.popupcommon.css"/>

    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link rel="stylesheet" href="/assets/css/style-dark.css">
    <link rel="stylesheet" href="/assets/css/style-gray.css">
    <!--[if IE 9]>
    <link rel="stylesheet" href="/assets/css/ie9.css"/>
    <![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/assets/css/ie8.css"/>
    <![endif]-->

    <link rel="stylesheet" href="/assets/css/res-menu.css"/>
    <link rel="stylesheet" href="/assets/css/responsive.css"/>
    <!--[if lte IE 8]>
        <script type="text/javascript" src="/assets/js/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body class="gray"><!--<div class="alert_w_p_u"></div>-->
<div class="container-page">
    <div class="mp-pusher" id="mp-pusher">
        <header class="mod-header">
            <div class="grid_frame">
                <div class="container_grid clearfix">
                    <div class="grid_12">
                        <div class="header-content clearfix">
                            <h1 style="padding-top: 4px;" id="logo" class="rs">
                                <a href="/home">
                                    <!-- <img src="/assets/images/logo.png" alt="$SITE_NAME"/> -->
                                     KooponCraft
                                </a>
                            </h1>
                            <a id="sys_head_login" class="btn btn-green type-login btn-login" href="/login">Login</a>
                            <nav class="main-nav">
                                <ul id="main-menu" class="nav nav-horizontal clearfix">
                                    <li class="active">
                                        <a href="/home">Home</a>
                                    </li>
                                    <li>
                                        <a href="/shop">Shop</a>
                                    </li>
                                    <li>
                                        <a href="#">My coupons</a>
                                        <i class="icon iPickRed lbl-count"><span>12</span></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-coins fa-1x" style="color: #FFD43B;"></i>
                                        <span style="padding-top: 20px;" id="availableBalance">loading...</span>
                                    </li>
                                </ul>
                                <a id="sys_btn_toogle_menu" class="btn-toogle-res-menu" href="#alternate-menu"></a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            
        </header><!--end: header.mod-header -->
        <nav id="mp-menu" class="mp-menu alternate-menu">
            <div class="mp-level">
                <h2>Menu</h2>
                <ul>
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Coupons</a>
                    </li>
                    <li>
                        <a href="#">My coupons</a>
                        <i class="icon iPickRed lbl-count"><span>12</span></i>
                    </li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>
        </nav><!--end: .mp-menu -->

        <script>
    document.addEventListener("DOMContentLoaded", function() {
        var token = localStorage.getItem("token");

        if (token) {
            // hide the login button
            var loginButton = document.getElementById("sys_head_login");
            if (loginButton) {
                loginButton.style.display = "none";
            }

            // iff token exists, add the "My Account" dropdown menu
            var mainMenu = document.getElementById("main-menu");

            // "My Account" dropdown menu
            var accountMenu = `
                <li class="has-sub">
                    <a href="coupon-code.html">My account</a>
                    <ul class="sub-menu">
                        <li><a href="/my-store">My store</a></li>
                        <li><a href="/item/create">New Item</a></li>
                        <li><a href="/transactions">My Transactions</a></li>
                        <li><a id="logout" href="#">Logout</a></li>
                    </ul>
                </li>
            `;

            // add the account menu to the main menu
            mainMenu.innerHTML += accountMenu;
        }
    });



</script>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
  integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- logout event handler -->
<script>
     $(document).ready(function () {
        $("#logout").on("click", function (e) {
            e.preventDefault();
            // clear the token from localStorage
            localStorage.removeItem("token");

            window.location.href = "/home"; 
        });
    });
</script>
<!-- end logout -->



<!-- for avail bal -->
<script>
  $(document).ready(function () {
    function fetchUserBalance() {
      const token = localStorage.getItem("token");
      const wallet_address = localStorage.getItem("accountAddress");
    //   console.log("this is the wallet address: ", wallet_address);
      const apiUrl = `/api/getUserBalance?wallet_address=${wallet_address}`;

      $.ajax({
        // url: "/api/getUserBalance",
        url: apiUrl,
        method: "GET",
        // contentType: "application/json",
        headers: {
          Authorization: `Bearer ${token}`,
        },
        // data: JSON.stringify({ wallet_address }),
        success: function (response) {
          if (response.success) {
            console.log("the resp", response);
            // update the header with balance information
            $("#availableBalance").text(`$${response.availableBalance.amount}`);
            $("#lockedBalance").text(`$${response.lockedBalance.amount}`);
            $("#freeBalance").text(`$${response.freeBalance.amount}`);
          } else {
            console.error("Failed to fetch user balance:", response.error);
          }
        },
        error: function (jqXHR, textStatus, errorThrown) {
          console.error("Error fetching user balance:", errorThrown);
        },
      });
    }

    fetchUserBalance();
  });
</script>
<!-- end: for avail bal -->