<%- include('../partials/admin/header') %>


<style>
      /* spinner */
       #cover-spin {
           position:fixed;
           width:100%;
           left:0;right:0;top:0;bottom:0;
           background-color: rgba(255,255,255,0.7);
           z-index:9999;
           display:none;
       }
       @-webkit-keyframes spin {
         from {
           -webkit-transform: rotate(0deg);
         }
   
         to {
           -webkit-transform: rotate(360deg);
         }
       }
   
       @keyframes spin {
         from {
           transform: rotate(0deg);
         }
   
         to {
           transform: rotate(360deg);
         }
       }
   
       #cover-spin::after {
         content: '';
         display: block;
         position: absolute;
         left: 48%;
         top: 40%;
         width: 40px;
         height: 40px;
         border-style: solid;
         border-color: black;
         border-top-color: transparent;
         border-width: 4px;
         border-radius: 50%;
         -webkit-animation: spin .8s linear infinite;
         animation: spin .8s linear infinite;
       }
</style>






<div class="admin-wrapper">
    <div class="container">
        <div class="row g-4">
            <div class="col-12 col-xxl-6">
                <div class="row g-4">
                    <!-- Welcome Card -->
                    <div class="col-12">
                        <div class="card dashboard-hero-card p-2 border-0 bg-img shadow-sm" style="background-image: url('/assets/img/bg-img/44.jpg')">
                            <div class="card-body p-4">
                                <h3 class="mb-3 text-white">Explore, trade, and redeem exceptional digital coupons.</h3>
                                <p class="mb-4 text-white">KooponCraft combines innovative technology with a unique trading experience.</p>
                                <div class="button-groups">
                                    <a class="btn btn-sm btn-warning rounded-pill me-3" href="/shop/nft-marketplace">Discover Coupons</a>
                                    <a class="btn btn-sm btn-dark rounded-pill" href="/tokens">Create Your Token</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Statistic Card -->
                    <div class="col-12 col-sm-6">
                        <div class="card border-0 shadow-sm">
                            <div class="card-body p-4">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <h5 class="mb-2">Coupons Sold</h5><span>Last 10 days</span>
                                    </div>
                                    <div class="ms-auto" id="chart-1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Statistic Card -->
                    <div class="col-12 col-sm-6">
                        <div class="card border-0 shadow-sm">
                            <div class="card-body p-4">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <h5 class="mb-2">Revenue Generated</h5><span>Last 10 days</span>
                                    </div>
                                    <div class="ms-auto" id="chart-2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Points Card -->
                    <div class="col-12 col-sm-6">
                        <div class="card border-0 shadow-sm">
                            <div class="card-body p-4">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <h5 class="mb-2">
                                            Points Gained
                                            <i class="bi bi-info-circle text-primary" 
                                               data-bs-toggle="popover" 
                                               data-bs-trigger="hover focus" 
                                               data-bs-title="How to Earn Points" 
                                               data-bs-html="true"
                                               data-bs-content="
                                                <ul class='list-unstyled mb-0'>
                                                    <li>✓ Daily logins</li>
                                                    <li>✓ Register on the platform</li>
                                                    <li>✓ Purchase an item</li>
                                                    <li>✓ Purchase a coupon</li>
                                                    <li>✓ Swap a coupon</li>
                                                </ul>">
                                            </i>
                                        </h5>
                                        <span id="userPoints">Loading...</span>
                                    </div>
                                    <div class="ms-auto">
                                        <i class="bi bi-star-fill text-warning" style="font-size: 24px;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xxl-6">
                <!-- Monthly Visitor -->
                <div class="col-12">
                    <div class="card border-0 shadow-sm">
                        <div class="card-body p-4 pb-0">
                            <h5 class="ms-3">Monthly Active Users</h5>
                            <div id="chart-timeline"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- coupon swap -->
            <div id="swapOffersPanel" class="col-6 col-xxl-6">
                <div class="card border-0 shadow-sm">
                    <div class="card-body p-4">
                        <div class="d-flex flex-wrap align-items-center justify-content-between mb-3">
                            <div class="d-flex align-items-center justify-content-center">
                                <div style="display: none;" class="spinner-grow text-danger me-1" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                <h5>Coupon Swap Offers</h5>
                            </div>
                            <ul class="nav nav-tabs border-0 mb-2" id="funtoTab" role="tablist">
                                <li class="nav-item" role="presentation"><a class="rounded-pill btn btn-sm btn-primary me-1 active" id="tab--1" data-bs-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Recent Offers</a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                        <!-- Tab Pane-->
                            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab--1">
                                <div class="table-responsive border shadow-sm dashboard-table activity-table">
                                    <table id="offersTable" class="table mb-0">
                                        <thead>
                                        <tr>
                                            <th scope="col">My Coupon</th>
                                            <th scope="col">Their Coupon</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Time</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                            

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <!-- redeem nft -->
            <div id="redeemReqPanel" class="col-12 col-xxl-12">
                <div class="card border-0 shadow-sm">
                    <div class="card-body p-4">
                        <div class="d-flex flex-wrap align-items-center justify-content-between mb-3">
                            <div class="d-flex align-items-center justify-content-center">
                                <div style="display: none;" class="spinner-grow text-danger me-1" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                <h5>Redeem Coupon Requests</h5>
                            </div>
                            <ul class="nav nav-tabs border-0 mb-2" id="funtoTab" role="tablist">
                                <li class="nav-item" role="presentation"><a class="rounded-pill btn btn-sm btn-primary me-1 active" id="tab--1" data-bs-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Recent Requests</a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                        <!-- Tab Pane-->
                            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab--1">
                                <div class="table-responsive border shadow-sm dashboard-table activity-table">
                                    <table id="redeemRequestsTable" class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th>Initiator</th>
                                                <th>Coupon Name</th>
                                                <th>Coupon Price</th>
                                                <th>Coupon-Collection ID</th>
                                                <th>Status</th>
                                                <th>Requested At</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="cover-spin"></div>

<!-- Modal -->
<div class="modal fade" id="decisionModal" tabindex="-1" role="dialog" aria-labelledby="decisionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="decisionModalLabel">Approve or Decline</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body">
        <p>Are you sure you want to proceed with this swap offer?</p>
        <p><strong>Offer Details:</strong></p>
        <p id="offerDetails"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="approveButton">Approve</button>
        <button type="button" class="btn btn-primary" style="display: none;" disabled id="pleaseWaitBtn">Please wait...</button>
        <button type="button" class="btn btn-danger" id="declineButton">Decline</button>
      </div>
    </div>
  </div>
</div>










<%- include('../partials/admin/footer') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script>
    $(document).ready(function() {
        $.ajax({
            url: '/api/getSwapOffers', 
            type: 'GET',
            headers: {
                'Authorization': 'Bearer ' + localStorage.getItem('token')
            },
            success: function(response) {
            if (response.success) {
              // console.log(response);
              if(response.filteredOffers.length === 0) {
                $("#swapOffersPanel").hide();
              }
                populateSwapOffers(response.swapOffers, response.currentUserId);
                if (response.swapOffers.length > 0) {
                    $('.spinner-grow').show();
                }
            } else {
                alert(response.message);
            }
            },
            error: function() {
            console.log('Failed to fetch swap offers or empty swap offers.');
            }
        });
    });

    $('table').on('click', '.view-button', function (event) {
        event.preventDefault();

        // Get offer details from data attributes
        const offerId = $(this).data('offer-id');
        const offerDetails = $(this).data('offer-details');
        // console.log(offerId, offerDetails);

        // Populate the modal with the offer details
        $('#offerDetails').text(offerDetails);
        $('#decisionModal').data('offer-id', offerId); // Store offer ID in the modal
    });

// populate table
function populateSwapOffers(offers, currentUserId) {
    const tableBody = $('#offersTable tbody');
    tableBody.empty();
  
  offers.forEach(function(offer) {
    //   console.log("offer id: ", offer._id);
    const askingCoupon = `${offer.ownTokenName}`;
    const offeringCoupon = `${offer.desiredTokenName}`;
    const status = offer.status;  
    const timeAgo = moment(offer.createdAt).fromNow();  
    const initiatorEmail = offer.initiator.email;

    // console.log(offer.initiator)
    const isInitiator = currentUserId === offer.initiator._id;
    // console.log(isInitiator);
    const viewButton = isInitiator 
      ? '<span class="text-muted">pending</span>'  // Disable or hide button
      : `<a href="#" class="rounded-pill btn btn-sm btn-primary view-button" 
           data-bs-toggle="modal" 
           data-bs-target="#decisionModal"
           data-offer-id="${offer._id}" 
           data-offer-details="${offer.ownTokenName} -> ${offer.desiredTokenName}"> 
           View
         </a>`;


    // Build the table row
    const row = `
      <tr>
        <th scope="row">
          <a class="btn btn-minimal text-dark hover-primary" href="#">
            <img class="rounded me-1" src="${offer.ownTokenImage}" alt="">
            <a target="_blank" href="/getCoupon/${offer.ownCollectionId}/${offer.ownTokenId}">${askingCoupon}</a>
          </a>
        </th>
        <td><span class="d-inline-block fw-bold fz-14"><a target="_blank" href="/getCoupon/${offer.desiredCollectionId}/${offer.desiredTokenId}">${offeringCoupon}</a></span></td>
        <td>${status}</td>
        <td><i class="bi bi-clock"></i>${timeAgo}</td>
        <td>
            ${viewButton}
        </td>
      </tr>
    `;

    tableBody.append(row);
  });
}
</script>


<script>
    $(document).ready(function () {
        $('.view-button').click(function (event) {
            console.log("yawo")
            event.preventDefault();

            // Get offer details from data attributes
            const offerId = $(this).data('offer-id');
            const offerDetails = $(this).data('offer-details');
            console.log(offerId, offerDetails);

            // Populate the modal with the offer details
            $('#offerDetails').text(offerDetails);
            $('#decisionModal').data('offer-id', offerId); 
        });

  // Handle the Approve button
    $('#approveButton').click(function () {
        $('#pleaseWaitBtn').show();
        $('#approveButton').hide();

        const offerId = $('#decisionModal').data('offer-id');
        
        $.ajax({
        url: '/api/acceptCouponSwap',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({ swapOfferId: offerId }),
        headers: {
            'Authorization': 'Bearer ' + localStorage.getItem('token')
        },
        success: function (response) {
            if (response.success) {
                $('#pleaseWaitBtn').hide();
                $('#approveButton').show();

                Swal.fire({
                    title: 'Offer approved successfully!',
                    icon: 'success',
                    showConfirmButton: false,
                    timer: 1500
                });
                location.reload();
            // alert('Offer approved successfully!');
            $('#decisionModal').modal('hide');
            } else {
                $('#pleaseWaitBtn').hide();
                $('#approveButton').show();

                alert('Failed to approve the offer.');
            }
        },
        error: function () {
            $('#pleaseWaitBtn').hide();
            $('#approveButton').show();

            alert('An error occurred while approving the offer.');
        }
        });
    });

  // decline button
  $('#declineButton').click(function () {
    const offerId = $('#decisionModal').data('offer-id');
    
    $.ajax({
      url: '/api/declineCouponSwap', 
      type: 'POST',
      data: { offerId },
      headers: {
        'Authorization': 'Bearer ' + localStorage.getItem('token')
      },
      success: function (response) {
        if (response.success) {
        //   alert('Offer declined successfully!');
        Swal.fire({
            title: 'Offer declined successfully!',
            icon: 'success',
            showConfirmButton: false,
            timer: 1500
        });
          // refresh the offers table
          $('#decisionModal').modal('hide');
        } else {
          alert('Failed to decline the offer.');
        }
      },
      error: function () {
        alert('An error occurred while declining the offer.');
      }
    });
  });
});
</script>


<!-- redeem requests -->
<script>
    $(document).ready(function () {
      $.ajax({
        url: '/api/getAllRedeemRequests',  
        type: 'GET',
        headers: {
          'Authorization': 'Bearer ' + localStorage.getItem('token')
        },
        success: function (response) {
          if (response.success) {
            if (response.redeemRequests.length === 0) {
              $("#redeemReqPanel").hide();
            }
            const redeemRequests = response.redeemRequests;
            const $tableBody = $('#redeemRequestsTable tbody');
            $tableBody.empty(); 

            redeemRequests.forEach((request) => {
              const tokenDetails = request.tokenDetails || {};
              // console.log(request);

              var redeemButton = '';
              if (request.status === 'pending') {
                redeemButton = `<button class="btn btn-success accept-redeem" data-id="${request._id}">Accept</button>`;
              } else {
                redeemButton = `<button class="btn btn-success" disabled>Redeemed</button>`;
              }

              const rowHtml = `
                <tr>
                  <td>${request.initiator.username}</td>
                  <td>${tokenDetails.tokenName || 'N/A'}</td>
                  <td>${tokenDetails.priceOfCoupon || 'N/A'} UNQ</td>
                  <td>#${request.couponToRedeem.tokenId} - ${request.couponToRedeem.collectionId}</td>
                  <td>${request.status}</td>
                  <td class="text-success">${new Date(request.requestedAt).toLocaleString()}</td>
                  <td>
                    ${redeemButton}
                  </td>
                </tr>
              `;

              $tableBody.append(rowHtml);
            });

            // Add click event handler for Accept button
            $(document).on('click', '.accept-redeem', function () {
              const requestId = $(this).data('id');

              $('#cover-spin').show();

              $.ajax({
                url: `/api/acceptRedeemRequest/${requestId}`,
                type: 'DELETE',
                headers: {
                  Authorization: `Bearer ${localStorage.getItem('token')}`
                },
                success: function (response) {
                  $('#cover-spin').hide();
                  if (response.success) {
                    Swal.fire('Success!', 'Redeem request accepted.', 'success');
                    location.reload(); 
                  } else {
                    Swal.fire('Error!', response.message, 'error');
                  }
                },
                error: function () {
                  $('#cover-spin').hide();
                  Swal.fire('Error!', 'Failed to accept the request.', 'error');
                }
              });
            });
          } else {
            Swal.fire('Error!', response.message, 'error');
          }
        },
        error: function () {
          Swal.fire('Error!', 'Failed to fetch redeem requests.', 'error');
        }
      });
    });
</script>


<!-- get user -->
<script>
  $(document).ready(function () {
    var token = localStorage.getItem("token");

    const apiUrl = `/api/getUser`;

    $.ajax({
      url: apiUrl,
      method: "GET",
      headers: {
        Authorization: `Bearer ${token}`,
      },
      success: function (response) {
        if (response.success) {
          if (!response.user.isAdmin) {
            // console.log("user.dase happening");
            $("#redeemReqPanel").hide();
          }
          // Display user points
          $("#userPoints").text(response.user.points || 0);
        } else {
          console.error("Failed to fetch user details:", response.error);
        }
      },
      error: function (jqXHR, textStatus, errorThrown) {
        console.error("Error fetching user details:", errorThrown);
        $("#userPoints").text("Error loading points");
      },
    });
  });
</script>

<script>
    $(document).ready(function () {
        // Initialize all popovers
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        })
    });
</script>